@model UserViewModel
@{
    ViewData["Title"] = "@Model.UserName's Profile";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.UserName!</h1>

    <form asp-action="AddFriend" method="Post" asp-route-friendName="friendName">
        <div class="form-group">
            <input type="hidden" value="@Model.UserName" asp-for="UserName"/>
            <label for="friendNameInput">Username: </label>
            <input id="friendNameInput" asp-for="FriendName"/>
        </div>
        <input type="submit" value="Add Friend" class="btn btn-primary"/>
    </form>
    
    @foreach(var friend in Model.Friends)
    {
        <div class="card">
            <div class="card-body">
                @friend.UserName <a href="@Url.Action("RemoveFriend", "User", new { userName = @Model.UserName, friendName = friend.UserName})" class="btn btn-danger">Remove Friend</a>
            </div>
        </div>
    }
    
    <form asp-action="ExportFriends" method="Post" asp-route-userName="userName">
        <div class="form-group">
            <input type="hidden" value="@Model.UserName" asp-for="UserName"/>
        </div>
        <input type="submit" value="Export Friends" class="btn btn-primary"/>
    </form>
    
    <form asp-action="ImportFriends" method="Post" asp-route-userName="userName">
        <div class="form-group">
            <input type="hidden" value="@Model.UserName" asp-for="UserName"/>
            <input type="file" class="btn btn-primary"/>
        </div>
        <input type="submit" value="Import Friends" class="btn btn-primary"/>
    </form>
    
</div>